/* Media Query: Laptop */
@media screen and (max-width: 1800px) {
  .main-title {
    font-size: 2rem;
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  body {
    overflow-y: auto;
  }

  .container {
    margin: 0;
  }

  .list {
    display: block;
    margin: 10px;
  }

  .column {
    margin: 10px;
  }

  .background-toggles {
    right: 25px;
  }
}