@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

html {
  box-sizing: border-box;
}

:root {
  --column-1: #a22d22;
  --column-2: #248224;
  --column-3: #c5c330;
  --column-4: #1b6161;
  --column-5: #273974;
  --column-6: #8b5d8f;
}

body {
  margin: 0;
  background: url("../img/cell-flat-otavio-regis.png");
  background-size: cover;
  background-position: 0% 120%;
  background-attachment: fixed;
  background-color: #02424b;
  color: white;
  font-family: Open Condensed, sans-serif;
  overflow-y: hidden;
}

h1 {
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px black;
}

.main-title {
  text-align: center;
  font-size: 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 20px;
}

.list {
  display: flex;
  align-items: flex-start;
  margin: 20px;
}

a {
  color: inherit;
  text-decoration:none; 
}

/* Columns */
.column {
  flex: 1;
  margin: 0 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow-x: hidden;
}

.what-column .header,
.what-column .solid,
.what-column .solid:hover,
.what-column .over {
  background-color: var(--column-1);
}

.why-column .header,
.why-column .solid,
.why-column .solid:hover,
.why-column .over {
  background-color: var(--column-2);
}

.who-column .header,
.who-column .solid,
.who-column .solid:hover,
.who-column .over {
  background-color: var(--column-3);
}

.when-column .header,
.when-column .solid,
.when-column .solid:hover,
.when-column .over {
  background-color: var(--column-4);
}

.when-column .header,
.when-column .solid,
.when-column .solid:hover,
.when-column .over {
  background-color: var(--column-4);
}

.where-column .header,
.where-column .solid,
.where-column .solid:hover,
.where-column .over {
  background-color: var(--column-5);
}

.how-column .header,
.how-column .solid,
.how-column .solid:hover,
.how-column .over {
  background-color: var(--column-6);
}

/* LIST */
.header {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 10px;
}

.header h1 {
  font-size: 1.25rem;
}

.over {
  padding: 50px 10px;
}

.item-list {
  min-height: 50px;
}

.item {
  margin: 10px;
  padding: 10px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.item:focus {
  outline: none;
  background-color: white;
  color: black;
}